.local_time {
    color: white;
    font-size: 24px;
    padding: 16px;

}
.fa-search{
    color: #352cf1
}
.search-form{
    text-align: center;
}
.body {
    background: url(/public/images/header-bg.jpg) no-repeat center center fixed;
}