@()

@main("Uzbekistan") {

  @navbar()
<br><br><br>
  <div class="container main-content">
    <h2 class="text-center">Добавте область который находится в Узбекистане!</h2>
    <form class="@routes.Countries.add()" method="post">
      <div class="form-group">
        <label for="inp-name">Область</label>
        <input type="text" class="form-control" id="inp-name"
        name="name" required="">
      </div>
      <button type="submit" class="btn btn-primary"> Submit </button>
    </form>
  </div>
<br><br><br>
  @footer()
}
