@main("Uzbekistan"){
  @navbar()
  <br><br>
  <div class="container">
    <div class="jumbotron">
      <h1>Андижан</h1>
      <p class="lead">
        Андижан, расположенный на берегах Карадарьи, в месте, удобном для оседлой жизни, с древних времён приобрёл славу как важный пункт Великого шёлкового пути, имеющий свою культуру земледелия и орошения  и славящийся тканями, глиняными изделиями и  изделиями народных ремёсел. В исторических летописях указывается, что сведения о существовании в этих местах очагов ранних цивилизаций отмечены ещё в  китайских рукописях II века до нашей эры. Следовательно, есть все основания считать, что культурная жизнь Андижана зародилась  много тысячелетий назад. Это доказывают и настенные рисунки  Далварзинтепы, одного из древнейших городищ Центральной Азии (на территории современного Джалакудукского района), а также пещеры Кукракли (Ходжаабадский район), относящиеся к ледниковому периоду.
        Андижан, в своё время подаривший первое вдохновение таким великим творцам, как Захириддин Мухаммад Бобур, Нодира, Абдулхамид Чулпон, имеет самобытные традиции в области литературы, искусства, культуры. Узбекскую литературу, науку и культуру 20 века невозможно представить без научной, творческой деятельности таких людей, родившихся и выросших на этой земле, как Аббас Бакиров, Саида Зуннунова, Тухтасин Джалилов, Ганиджан Ташматов, Саиб Ходжаев, Камиль Яшин, Хабиби, Ташмухаммад Саримсаков, Хадича Сулайманова, Фаттаххан Мамадалиев, Бурибой Ахмедов, Мухаммад Юсуф.
        Не  только в Андижане, но и во всей республике хорошо известны имена таких деятелей науки и культуры, как Мухаммад Али, Тулан Низам, Алимджан Халдар, Камчибек Кенджа, Турсуной Садыкова, Сайфидин Джалилов, Закирджан Машрабов, Джавлан Ташходжаев, Обиджан Бакиров.
        Особенно ощутимый вклад в развитие искусства вносят такие талантливые певцы, как Муножат Юлчиева, братья Вахабовы, Нуриддин Хамракулов, Хуррият Исраилова, Озодбек Назарбеков и множество других исполнителей.
      </p>
     <a href="http://andijan.uz/"><button type="button" class="btn btn-info">andijan.uz</button></a>
    </div>
  </div>
  <br><br>
  @footer()
}