@main("Uzbekistan") {
    @navbar()
    <br> <br>

        <div class="jumbotron">
            <h1>Андижан</h1>
            <p class="lead">
                Андижан, расположенный на берегах Карадарьи, в месте, удобном для оседлой жизни, с древних времён приобрёл славу как важный пункт Великого шёлкового пути, имеющий свою культуру земледелия и орошения  и славящийся тканями, глиняными изделиями и  изделиями народных ремёсел. В исторических летописях указывается, что сведения о существовании в этих местах очагов ранних цивилизаций отмечены ещё в  китайских рукописях II века до нашей эры. Следовательно, есть все основания считать, что культурная жизнь Андижана зародилась  много тысячелетий назад. Это доказывают и настенные рисунки  Далварзинтепы, одного из древнейших городищ Центральной Азии (на территории современного Джалакудукского района), а также пещеры Кукракли (Ходжаабадский район), относящиеся к ледниковому периоду.
                Андижан, в своё время подаривший первое вдохновение таким великим творцам, как Захириддин Мухаммад Бобур, Нодира, Абдулхамид Чулпон, имеет самобытные традиции в области литературы, искусства, культуры. Узбекскую литературу, науку и культуру 20 века невозможно представить без научной, творческой деятельности таких людей, родившихся и выросших на этой земле, как Аббас Бакиров, Саида Зуннунова, Тухтасин Джалилов, Ганиджан Ташматов, Саиб Ходжаев, Камиль Яшин, Хабиби, Ташмухаммад Саримсаков, Хадича Сулайманова, Фаттаххан Мамадалиев, Бурибой Ахмедов, Мухаммад Юсуф.
                Не  только в Андижане, но и во всей республике хорошо известны имена таких деятелей науки и культуры, как Мухаммад Али, Тулан Низам, Алимджан Халдар, Камчибек Кенджа, Турсуной Садыкова, Сайфидин Джалилов, Закирджан Машрабов, Джавлан Ташходжаев, Обиджан Бакиров.
                Особенно ощутимый вклад в развитие искусства вносят такие талантливые певцы, как Муножат Юлчиева, братья Вахабовы, Нуриддин Хамракулов, Хуррият Исраилова, Озодбек Назарбеков и множество других исполнителей.
            </p>
            <a href="http://andijan.uz/"><button type="button" class="btn btn-danger">www.andijan.uz</button></a>
        </div>
    <div class="container">
        @carousel()
        <br><br>
        <div class="col-sm-12 blog-content">
            <a href="http://andijan.uz/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/andijon2.jpg")" style="height : 300px ; width : 100%" alt="" /></a>
            <h2><a href="">География, климат</a></h2>
            <h3>Климат Андижана субтропический внутриконтинентальный. Расположен он в восточной части Ферганской долины на высоте 490 м над уровнем моря, на древних отложениях реки Андижансай, в 260 км к юго-востоку от Ташкента (360 км по дороге), в 40 км (49 км по автодороге) к северо-западу от киргизского Оша.Плодородные почвы, обилие тепла и света, длительный безморозный период (около 210 дней в году) благоприятствуют выращиванию в окрестностях города теплолюбивых культур — хлопчатника, шелковицы и других субтропических культур.</h3>

        </div>
        <div class="col-sm-12 blog-content">
            <a href=""><img class="img-responsive img-blog" src="@routes.Assets.at("images/andijon1.jpg")" style="height : 300px ; width : 100%" alt="" /></a>
            <h2><a href="http://andijan.uz/">Экономика и транспорт</a></h2>
            <h3>В последние годы экономика Андижана уверенно развивается, главным образом благодаря автомобилестроению, газо- и нефтеперерабатывающей промышленности. Также весомое место в экономике Андижана занимает текстильная и пищевая промышленность. В настоящее время реконструируется аэропорт «Андижан» с последующим получением статуса международного аэропорта. В настоящее время Андижан связан воздушным сообщением с Москвой, Сургутом, Новосибирском, Омском, Санкт-Петербургом, Красноярском, Тюменью, Ташкентом и др. городами. Строится электрифицированная железная дорога из Ташкента через перевал в Андижан, что вернет Андижану статус крупного транспортного центра с двумя железнодорожными вокзалами I и II, двумя железнодорожными станциями «Андижан-Северный» и «Андижан-Южный» и международным аэропортом.</h3>
        </div>
    </div>
    <br> <br>
    @footer()
}