@main("Uzbekistan") {
    @navbar()
    <br> <br>

        <div class="jumbotron">

            <h1><font color="#5f9ea0"><i>Бухара</i></font></h1>
            <p class="lead">
                Бухара - город поэзии и сказки. Здесь легенды витают над зигзагами уличных лент, здесь в вертикалях минаретов - полет человеческого гения, и каждый камень в кружеве каменной кладки покрыт пылью вечности. Славу города - музея, города - памятника снискала Бухара. Как магнитом притягивает ее романтический облик туристов со всего земного шара.Для нас, современников, трудно переоценить значение памятников страны, ибо это живое воплощение многовековой истории города, подлинная летопись в камне. Архитектурное творчество древних зодчих - народных умельцев - наше бесценное достояние.

                В городе сейчас сохранились не только отдельные мечети, медресе и мавзолеи, но и целые районы древней планировки, где легко вообразить себя современником легендарного Ходжи Насреддина. </p>
                <a href="http://www.bukhara.uz/nastoyashee-bukhari"><button type="button" class="btn btn-danger">www.bukhara.uz</button></a>

        </div>
    <div class="container">

        <div class="col-sm-12 blog-content">
            <a href="http://andijan.uz/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/bukhara.jpg")" style="height : 300px ; width : 100%" alt="" /></a>
            <h2><a href="http://www.bukhara.uz/bukharskie-obryadi">БУХАРСКИЕ ОБРЯДЫ</a></h2>
            <h3>Тўй (свадьба) - это, пожалуй, самое важное событие в жизни любого человека, вне зависимости от национальности, цвета кожи и вероисповедания. В Бухаре же, свадьбу молодожен можно без преувеличения отнести как к самому главному празднику, обставленному множеством дополняющих друг друга церемоний и обрядов, совокупность которых, собственно, и составляет само понятие тўй, то есть свадьбу.Любая свадьба начинается со сватовства. Правда, этому этапу предшествует любовная прелюдия двух молодых людей, впервые увидавших друг друга: либо учась еще в школе, либо на какой-либо дружеской вечеринке, либо просто находясь на рынке. А бывает, что их знакомят заочно сами родители или ближайшие родственники одной из сторон (чаще - со стороны жениха).</h3>

        </div>
        <div class="col-sm-12 blog-content">
            <a href="http://www.bukhara.uz/nastoyashee-bukhari/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/bukhara2.jpg")" style="height : 300px ; width : 100%" alt="" /></a>
            <h2><a href="http://www.bukhara.uz/nastoyashee-bukhari/">Экономика и транспорт</a></h2>
            <h3>В ближайшие два года будет запущен скоростной поезд стоимостью в 400 млн$. Этот проект планируют завершить в 2015 – 2016 гг. Скоростной поезд Ташкент – Бухара позволит пассажиром сократить время пути на два часа, что существенно экономит время на поездку.</h3>
        </div>
    </div>
    <br> <br>
    @carousel()
    <br><br>
    @footer()
}