<div class="container">
<div id="carousel-slider" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
  <ol class="carousel-indicators visible-xs">
    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-slider" data-slide-to="1"></li>
    <li data-target="#carousel-slider" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="@routes.Assets.at("images/parlament.jpg")" style="width: 100%; height: 350px" class="img-responsive" alt="">
    </div>
    <div class="item">
      <img src="@routes.Assets.at("images/carousel2.jpg")" style="width: 100%; height: 350px" class="img-responsive" alt="">
    </div>
    <div class="item">
    <img src="@routes.Assets.at("images/carousel1.jpg")" style="width: 100%; height: 350px" class="img-responsive" alt="">
  </div>
    <div class="item">
  <img src="@routes.Assets.at("images/carousel7.jpg")" style="width: 100%; height: 350px" class="img-responsive" alt="">
</div>

  <div class="item">
    <img src="@routes.Assets.at("images/carousel3.jpg")" style="width: 100%; height: 350px" class="img-responsive" alt="">
  </div>

  <div class="item">
    <img src="@routes.Assets.at("images/namangan2.jpg")" style="width: 100%; height: 350px" class="img-responsive" alt="">
  </div>
  <div class="item">
    <img src="@routes.Assets.at("images/carousel4.jpg")" style="width: 100%; height: 350px" class="img-responsive" alt="">
  </div>
  <div class="item">
    <img src="@routes.Assets.at("images/carousel6.jpg")" style="width: 100%; height: 350px" class="img-responsive" alt="">
  </div>
  <div class="item">
    <img src="@routes.Assets.at("images/carousel8.jpg")" style="width: 100%; height: 350px" class="img-responsive" alt="">
  </div>
  <div class="item">
    <img src="@routes.Assets.at("images/carousel9.jpg")" style="width: 100%; height: 350px" class="img-responsive" alt="">
  </div>
</div>

  <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
    <i class="fa fa-angle-left"></i>
  </a>

  <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
    <i class="fa fa-angle-right"></i>
  </a>
</div> <!--/#carousel-slider-->
  </div>