@(commit: List[Commit])

@main("Uzbekistan") {

  @navbar()
  <br><br> <br><br> <br><br> <br><br>
  <div class="container main-content">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Имя:</th>
          <th>Коментарии:</th>
        </tr>
      </thead>
      <tbody>
      @for(commits <- commit) {
        <tr>
          <td>@commits.name</td>
          <td>@commits.comments</td>

        </tr>
      }
        
      </tbody>
    </table>
  <a href="@routes.Comments.showAddForm()"><button type="button" class="btn btn-link pull-right btn-lg">Оставте свое коментарии</button></a>
  </div>

}
<br><br><br>
@footer()