@()
@main("Uzbekistan"){
  @navbar()
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="container main-content">

    <form  class="@routes.Comments.add()" method="post">
      <h1 class="text-center text-success"><i>Оставте свое коментарии</i></h1>
      <div class="form-group">
        <label for="inp-text">Имя:</label>
        <textarea type="textarea" class="form-control" id="inp-text"
        name="NAME" required=""></textarea>
    <br><br>
        <label for="inp-text">Коментария:</label>
        <textarea type="textarea" class="form-control" id="inp-text"
        name="COMMENTS" required=""></textarea>
      </div>

      <button type="submit" class="btn btn-success btn-lg pull-right"> Добавить </button>

    </form>

  </div>
}
  <br><br>
  @footer()