@(city: City, countries: List[Country])

@main("Uzbekistan") {

  @navbar()
<br><br><br>
  <div class="container main-content">
    <h2 class="text-center">Edit</h2>
    <form class="@routes.Cities.update(city.id.get)" method="post">
      <div class="form-group">
        <label for="inp-name">Город</label>
        <input type="text" class="form-control" id="inp-name"
        name="name" value="@city.name" required="">
      </div>
      <div class="form-group">
        <label for="inp-desc">Описания</label>
        <textarea type="text" class="form-control" id="inp-desc"
        name="description" required=""> @city.description</textarea>
      </div>
      <div class="form-group">
        <label for="inp-country">Область</label>
        <select name="country" class="form-control" id="inp-country">
        @for(country <- countries) {
          <option value="@country.id"> @country.name</option>
        }
        </select>
      </div>

      <button type="submit" class="btn btn-primary"> Submit</button>
    </form>
  </div>
}
