@main("Uzbekistan") {
    @navbar()
    <br> <br>
    <div class="container">
        <div class="jumbotron">
            <h1>Фергана</h1>
            <p class="lead">
                Название города Фергана происходит от персидского слова «فرقانه» (Farghaneh), что значит «разнообразный».

                Летопись Ферганы укладывается в три исторических периода: дореволюционный, советский и эпохи независимости. Город основан в 1876 году. 18 июня 1887 года был утверждён проект устройства нового города, названного Новый Маргилан. С 1907 года переименован в Скобелев, а с 1924 года именуется Ферганой. Инициатор создания города — русский генерал, «покоритель Туркестана» Михаил Дмитриевич Скобелев. Основатель, первый устроитель — второй военный губернатор Александр Константинович Абрамов. Тип города — военно-административный центр. Планировка характерная для таких городов: крепость, эспланада и радиально-концентрически расходящиеся от них улицы. Специалисты, чьи постройки определили первоначальный внешний облик города: военный топограф Жилин, военные инженеры: Синклер, Корольков, архитекторы: С. В. Леханов, Э. А. Брун, И. Р. Сакович, Г. М. Сваричевский, И. И. Аксентович, А. И. Бот, Бардовский и др.
            </p>
            <a href="http://ferghana.uz/ru/"><button type="button" class="btn btn-danger">www.ferghana.uz</button></a>
        </div>
        @carousel()
        <br><br>
        <div class="col-sm-12 blog-content">
            <a href="http://ferghana.uz/ru/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/farghana1.png")" style="height : 400px ; width : 100%" alt="" /></a>
            <h2><a href="http://ferghana.uz/ru/">География</a></h2>
            <h3>Фергана расположена на востоке Узбекистана, приблизительно в 420 км к востоку от Ташкента — столицы страны, и в 75 км к юго-западу от Андижана. В городе проживает более 350 000 человек, что делает его третьим по величине городом Ферганской Долины. Территория Ферганы — 70 км². Расположен город на высоте 580 метров над уровнем моря.

                Неофициальные названия<br>

                Жемчужина Азии<br>
                Столица Ферганской долины<br>
                Город зелень<br></h3>

        </div>
        <div class="col-sm-12 blog-content">
            <a href="http://ferghana.uz/ru/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/farghana2.jpg")" style="height : 400px ; width : 100%" alt="" /></a>
            <h2><a href="http://ferghana.uz/ru/">Экономика</a></h2>
            <h3>Фергана является относительно крупным промышленным центром Узбекистана, занимая по объёму производства второе место после Ташкента. В промышленном секторе особое место занимают химическая, нефтеперерабатывающая, пищевая, лёгкая, мебельная промышленность, производство строительных материалов, машиностроение и обработка металлов, электроника. Основными видами товаров индустрии являются нефтепродукты, сельскохозяйственные удобрения, стекло и изделия из него, цемент, различные электроприборы и механизмы, автозапчасти и т. д.

                В Фергане функционируют 3-4 сравнительно крупных и около 20 малых и средних предприятий. Среди них «Ферганский нефтеперерабатывающий завод» (нефтяная промышленность), Азотный завод, суперфосфатный, «Электромаш» и другие. По итогам 2008 года все предприятия Ферганы произвели продукции почти на 639,1 млрд сумов (около $350 млн долларов США).</h3>
        </div>
    </div>
    <br> <br>
    @footer()
}