<section id="bottom">

  <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">

    <div class="row">
      <h2 class="text-center text-danger">Сайты Узбекистана</h2>
      <br><br>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h3>Государственные сайты</h3>
          <ul>
            <li><a href="http://gov.uz">Правительственный портал<br> республики Узбекистан</a></li>
            <li><a href="http://www.lex.uz/pages/GetAct.aspx?lact_id=127879">ЗАКОН РЕСПУБЛИКИ УЗБЕКИСТАН</a></li>
            <li><a href="http://www.mfa.uz/ru/index.php">МИНИСТЕРСТВА</a></li>
            <li><a href="http://www.customs.uz/ru/">Государственный Таможенный<br> Комитет Республики Узбекистан</a></li>
            <li><a href="http://www.press-service.uz/ru/">Пресс Служба</a></li>
            <li><a href="http://www.chamber.uz/ru">Торгово-Промышленная<br> Палата Узбекистана</a></li>
            <li><a href="http://www.elections.uz">Центральная избирательная<br>комиссия Республики Узбекистан</a></li>
          </ul>
        </div>
      </div><!--/.col-md-3-->

      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h3>Экономика Узбекистана</h3>
          <ul>
            <li><a href="http://www.uz24.uz/economics">ЭКОНОМИКА <br>Новости Узбекистана </a></li>
            <li><a href="http://fundamental-economic.uz/">Узбекистан <br> ФУНДАМЕНТАЛЬНАЯ ЭКОНОМИКА</a></li>
            <li><a href="http://www.ut.uz/economy">Uzbekistan Today</a></li>
            <li><a href="http://www.mineconomy.uz">Министерство экономики Республики Узбекистан</a></li>
            <li><a href="http://www.nbu.uz/">Национальный банк Узбекистана</a></li>
            <li><a href="http://www.mfer.uz">Министерстве внешних экономических связей,</a></li>
            <li><a href="http://utbank.uz/">Деятельность Банка в условиях либерализации экономики Узбекистана</a></li>
          </ul>
        </div>
      </div><!--/.col-md-3-->

      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h3>Сайты новостей Узбекистана</h3>
          <ul>
            <li><a href="http://ca-news.org/country:3/">CA-NEWS : Узбекистан</a></li>
            <li><a href="http://www.gazeta.uz/">Газета.uz: Новости Узбекистана</a></li>
            <li><a href="http://www.anons.uz/">ANONS.UZ</a></li>
            <li><a href="http://www.uz24.uz/">Свежие новости</a></li>
            <li><a href="http://podrobno.uz/">Агентство новостей Podrobno.uz</a></li>
            <li><a href="http://daryo.uz/">Daryo.uz Новости</a></li>
            <li><a href="http://uzreport.uz/">Новости Узбекистана - UzReport.uz</a></li>
          </ul>
        </div>
      </div><!--/.col-md-3-->

      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h3>Коммерческие сайты </h3>
          <ul>
            <li><a href="http://uff.uz">UFF.UZ - Фанаты футбола Узбекистана </a></li>
            <li><a href="http://oxo.uz">Фильмы клипы музыка фото </a></li>
            <li><a href="http://mover.uz"> Mover.uz - Видео онлайн</a></li>
            <li><a href="http://torg.uz">Torg.uz - Торговая площадка Узбекистана</li>
            <li><a href="http://championat.uz"> championat.asia - новости футбола Центральной Азии</a></li>
            <li><a href="http://kinozal.uz">Kinozal.uz</a></li>
            <li><a href="http://player.uz">Рlayer.Uz - Самые популярные сериалы </a></li>
            <li><a href="http://mytube.uz"> MyTube - Онлайн видео ролики, приколы, аниме и клипы  </a></li>
          </ul>
        </div>
      </div><!--/.col-md-3-->
    </div>
  </div>
</section>

<footer id="footer" class="midnight-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="col-sm-6 col-xs-4">
            &copy;2015 <a target="_blank" href="@routes.Application.khorezm()"> Khorezm Urgench</a>
        </div>

      </div>
      <div class="col-sm-6">
        <ul class="pull-right">
          <li><a href="@routes.Application.munis()">Atadjanov Munis</a></li>
          <li><a href="http://urgench-tuit.uz/index.php">ТУИТУФ</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer><!--/#footer-->

<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-4">
        <p><i class="fa fa-phone-square"></i> +99890 648 94 77 </p>
      </div>
      <div class="col-sm-6 col-xs-8">
        <div class="social">
          <ul class="social-share">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
            <li><a href="#"><i class="fa fa-vk"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!--/.container-->
</div><!--/.top-bar-->

