@main("Uzbekistan") {
  @navbar()
  <br> <br>
  <div class="container">
    <div class="jumbotron">
      <h1>Джизах</h1>
      <p class="lead">
        Джизак возник в месте схождения древних караванных дорог на Великом шёлковом пути, в оазисе по пути из Ферганской долины и Ташкентского оазиса в Самарканд. В трудах древнегреческих авторов упоминается город Газа, крупный населенный пункт наряду с таким городом как Кирополь. Точное местонахождение города Газа не установлено, но принято считать что он располагался на половине пути из Согда в Шаш и далее в Фергану и Семиречье. Исходя из чего ученые идентифицируют город Газа как древний Джизак.

        Впервые под наименованием "Дизак" упоминается как город издревле существующий в области Факнон древней страны Уструшана, к тому времени вошедшей во владения Арабского халифата, в сочинениях арабских географов и путешествеников Ибн-Хаукаля и Аль-Мукадасси. </p>
      <a href="http://jizzax.uz/main"><button type="button" class="btn btn-danger">www.jizzax.uz</button></a>
    </div>
    @carousel()
    <br><br>
    <div class="col-sm-12 blog-content">
      <a href="http://jizzax.uz/main"><img class="img-responsive img-blog" src="@routes.Assets.at("images/jizzax1.jpg")" style="height : 300px ; width : 100%" alt="" /></a>
      <h2><a href="http://jizzax.uz/main">География</a></h2>
      <h3>Джизак расположен в долине реки Санзар, у северного подножия гор Нурота, в южной части Мирзачульской степи, в 180 км к юго-западу от Ташкента, в 90 км к северо-востоку от Самарканда. Город граничит с Джизакским и Галла-аральскими районами Джизакской области..</h3>

    </div>
    <div class="col-sm-12 blog-content">
      <a href="http://jizzax.uz/main"><img class="img-responsive img-blog" src="@routes.Assets.at("images/jizzax2.jpg")" style="height : 300px ; width : 100%" alt="" /></a>
      <h2><a href="http://jizzax.uz/main">Известные уроженцы и жители города</a></h2>
      <h3>Сафаров, Назир Сафарович (09.01.1905 - 01.04.1985, г.Ташкент) —  писатель, публицист, очеркист и драматург. Народный писатель Узбекистана (1975). Заслуженный деятель искусств Узбекистана (1950). Лауреат Государственной премии им. Хамзы (1968). Участник 2-й Мировой войны. Директор Ташкентской киностудии (1946-47). Руководитель Государственного издательства "Узбекистан" (1939-41).<br>
        Хамид Алимджан (12.12.1909 - 03.07.1944, г. Ташкент) — классик узбекской поэзии XX столетия. Узбекский поэт, драматург, публицист, литературный критик и общественный деятель. Член-корреспондент АН Узбекской ССР. Муж поэтессы Зулфияхоним.<br>
        Шукур Саъдулла (15.01.1912 - 14.09.1972, г. Ташкент) — детский поэт, драматург, переводчик и издатель. Заслуженный деятель искусств Узбекистана (1972). Перевел произведения А.С.Пушкина, Л.Толстого, С.Мар­шака, С.Михалкова и других русских писателей.<br>
        Рашидов, Шараф Рашидович (11.06.1917 - 31.10.1983, г.Ташкент) — государственный и общественный деятель, писатель. Дважды Герой Социалистического труда (1974, 1977). Участник 2-й Мировой войны. Первый секретарь ЦК КП Узбекской ССР (1959-1983). Кандидат в члены Политбюро ЦК КПСС.<br>
        Иванин, Егор Иванович (18.01.1918, Тюменская обл. - 08.06.1979, г. Джизак) — участник 2-й Мировой войны, артиллерист, старшина противотанковой батареи. 24.03.1945г. удостоен высокого звания Героя Советского Союза за героизм проявленный в боях за литовский город Шауляй. В послевоенной жизни работал в совхозе в Джизакской области, позже на одном из предприятий города Джизака.<br>
        Азимова, Хосият (25.07.1919) — актриса театра. Народный артист Узбекистана (1981).
        Тураев, Журакул (20.03.1922 - 10.08.1998) — участник 2-й Мировой войны, артиллерист, майор. 29 марта 1944 удостоен высокого звания Героя Советского Союза за героизм проявленный в боях за деревню Гороховище Брестской области. В 1945 г. окончил Подольское артиллерийское училище. В 1953 г. уволен в запас. В послевоенной жизни работал на различных должностях в Джизаке и Джизакской области. Одна из улиц города Джизака названа в честь Ж. Тураева.<br>
        Каримов, Абдухалик (1923—1994) — государственный и общественный деятель. Первый секретарь Сурхандарьинского обкома КП Узбекской ССР (1977-1985). Депутат Совета Национальностей ВС СССР 10-11 созывов (1979-1989). Герой Социалистического труда.</h3>
    </div>
  </div>
  <br> <br>
  @footer()
}