@main("Uzbekistan") {
  @navbar()
  <br><br>
  <div class="container">
    <div class="jumbotron">
      <h1>Каракалпакстан</h1>
      <p class="lead">
        Респу́блика Каракалпакста́н (Каракалпа́кия, каракалп. Qaraqalpaqstan Respublikasi', Қарақалпақстан Республикасы, узб. Qoraqalpog`iston Respublikasi, Қорақалпоғистон Республикаси) — суверенная республика в составе Узбекистана[1].

        Республика Каракалпакстан расположена на северо-западе Узбекистана.
      </p>
      <a href="http://sovminrk.gov.uz/qr"><button type="button" class="btn btn-danger">sovminrk.gov.uz/</button></a>
    </div>
    @carousel()
    <br><br>
    <div class="col-sm-12 blog-content">
      <a href="http://sovminrk.gov.uz/qr"><img class="img-responsive img-blog" src="@routes.Assets.at("images/nukus.jpg")" style="height : 300px ; width : 100%" alt="" /></a>
      <h2><a href="http://sovminrk.gov.uz/qr">География, климат</a></h2>
      <h3>Каракалпакстан расположен на Туранской низменности. С юго-запада к нему вплотную примыкает пустыня Каракумы, на северо-западе находится плато Устюрт, а на северо-востоке пустыня Кызылкум. Территория Каракалпакстана включает также южную половину Аральского моря, на высохшем дне которого теперь формируется новая солончаковая пустыня Аралкум, и пересыхающие низовья реки Амударьи.

        В Каракалпакстане пустыни занимают более 13,67 млн га (более 80 % территории). Приаралье долгое время медленно опускалось и было ареной аккумуляции осадков мезозойско-кайнозойских морей и сносимых с гор аллювиальных толщ. Это способствовало формированию обширных пластовых и аллювиальных равнин. В их строении принимают участие меловые, третичные и четвертичные отложения. Меловые породы сложены морскими и континентальными образованиями в виде песка и глины в полуостровах Токмаката, Куланды, мыс Актумсык, Бельтау, Кусканатау, Султануиздаг и др., сложены палезойским и мезозойскими толщами и выходами кристаллических пород. Значительно моложе в геологическом отношении северо-западные части пустыни: плато Устюрт — позднетретичного возраста.

        Своеобразная форма пустыни — барханные пески.</h3>
    </div>
    <div class="col-sm-12 blog-content">
      <a href="http://sovminrk.gov.uz/qr"><img class="img-responsive img-blog" src="@routes.Assets.at("images/nukus.png")" style="height : 300px ; width : 100%" alt="" /></a>
      <h2><a href="http://sovminrk.gov.uz/qr">История</a></h2>
      <h3>До 1873 года в основном в составе Хивинского ханства, затем в Амударьинском отделе Сырдарьинской области. После установления советской власти в 1918 году — в составе Хорезмской народной советской республики и Туркестанской АССР.

        В 1924 году была образована Кара-калпакская автономная область с центром в г. Турткуль, занимавшая территорию Амударьинской области Туркестанской АССР и Ходжейликского и Кунградского районов Хорезмской Социалистической Советской Республики.

        12-19 февраля 1925 года проходил I Учредительный съезд дехканских, батрацких и красноармейских депутатов, на котором 16 февраля была официально утверждена Кара-Калпакская автономная область в составе Киргизской АССР (1920—1925) (позже переименованной в Казакскую АССР).

        20 июля 1930 года Кара-Калпакская автономная область вошла в состав РСФСР, 20 марта 1932 года преобразована в Кара-Калпакскую АССР (ККАССР, в составе РСФСР).

        В 1933 году столицей ККАССР стал город Нукус.

        5 декабря 1936 года Кара-Калпакская АССР (ККАССР) вошла в состав Узбекской ССР.

        В 1964 году переименована в Каракалпакскую АССР (ККАССР).

        14 декабря 1990 года принята Декларация о суверенитете.</h3>
    </div>
  </div>
  <br><br>
  @footer()
}