@main("Uzbekistan") {
  @navbar()
  <br> <br>

    <div class="jumbotron">
      <h1>хорезмская область</h1>
      <p class="lead">
        Хорезм – одна из самых древних историко-культурных областей Средней Азии. Первые упоминания о Хорезме встречаются в надписях на Бехистунской скале сделанных во времена Дария I и в «Авесте», многие исследователи отождествляют с Хорезмом первую зороастрийскую страну, авестийскую Арьянам-войчах. Древнейшие археологические памятники Хорезма относятся к эпохе неолита. На территории древней дельты Амударьи открыты стоянки охотников и рыболовов, относящихся к культуре IV-III тыс.до.н.э.

        Источники эпохи арабского завоевания называют Хорезм - Страной тысячи крепостей. И в самом деле, сегодня на территории Хорезмской области археологами обнаружено множество древних городищ, некогда бывших мощными крепостями и царскими дворцами. Самыми известными из них являются Топрак-кала, Джанбас-Кала, Кой-Крылган-кала, Кызыл-Кала и Аяз-кала (Кала в переводе означает крепость). Даже сегодня грандиозность и масштабы руин поражают своим великолепием и мощью. Тысячи крепостей раскинулись на огромных просторах безводных степей и как исполинские истуканы они хранят тайны Древнего Хорезма.
      </p>
      <a href="http://visitkhorezm.uz/"><button type="button" class="btn btn-danger">www.visitkhorezm.uz</button></a>
    </div>
    <div class="container">
    @carousel()
    <br><br>
    <div class="col-sm-12 blog-content">
      <a href="http://visitkhorezm.uz/ru/Geography_and_climate_Time_Zone"><img class="img-responsive img-blog" src="@routes.Assets.at("images/khorezm3.jpg")" style="height : 400px ; width : 100%" alt="" /></a>
      <h2><a href="http://visitkhorezm.uz/ru/Geography_and_climate_Time_Zone">География, климат, часовой пояс Хорезма</a></h2>
      <h3>Хорезмская область образована 15 января 1938 года. Расположена в низовьях реки Амударья, на высоте 100 м над уровнем моря - это самая низменная часть Узбекистана, занимает площадь 6,1 тыс.кв.км, или 1,4% территории республики. Область имеет общие границы на северо-востоке с республикой Каракалпакстан, на юге и западе с республикой Туркменистан, на юго-востоке с Бухарской областью.
        Климат области – резко континентальный, сравним с климатом Казахстана и Украины – умеренно холодная, бесснежная зима и жаркое, сухое лето. Природа обошла щедротами этот край: засоленные почвы, острый дефицит воды. По количеству осадков, которые выпадают только зимой и ранней весной, Хорезм занимает одно из последних мест не только в Средней Азии, но и в мире - не более 80-100 мм в год! Единственное, на что не поскупилась природа - это солнце. В году бывает примерно триста солнечных дней. Может быть поэтому близко к истине этимологическое толкование слова "Хорезм" - "земля солнца".

        Казалось бы, такие условия мало способствуют нормальной жизни человека в этих районах и, тем не менее, люди полюбили и освоили здешние места еще в III - начале II тыс. до н.э., используя искусственное орошение водами Амударьи. Хорезм стал центром древнейшей земледельческой цивилизации, знаменитым оазисом-государством, чьи границы порой выходили далеко за пределы Средней Азии. Здесь издавна получали высокие урожаи сельскохозяйственных культур - пшеницы, риса, люцерны и многих других.
      </h3>

    </div>
    <div class="col-sm-12 blog-content">
      <a href="http://visitkhorezm.uz/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/khorezm7.jpg")" style="height : 400px ; width : 100%" alt="" /></a>
      <h2><a href="http://visitkhorezm.uz/">Экономика региона</a></h2>
      <h3>Основными целями экономического развития области являются создание благоприятных условий для обеспечения устойчивого развития бизнеса, формирования реального класса собственников.

        Объем валового регионального продукта (ВРП) составил 3378,7 млрд. сум (796,5 млн. долл). Экономика области в последние годы стабильно развивается, о чем говорят следующие макроэкономические показатели: по итогам 2010 года рост ВРП составил 110,2%, темп инфляции по области установился на уровне 6,6%, доля субъектов малого бизнеса и частного предпринимательства в общем объеме ВРП достигла 71,8%. ВРП на душу населения составил 1231,7 тыс. сум  (533,4 долл. без учета паритета покупательской способности), или 105,9% по отношению к показателю 2009 года. По итогам 2010 года в области зарегистрировано более 34 тыс. предприятий. Количество вновь созданных предприятий в 2010 году составило 2,2 тыс., из которых 2,035 тыс. -  предприятия малого бизнеса. <br><b>Банковско-финансовая система</b>

        В области имеется развитая финансовая инфраструктура. Действуют 48 филиалов коммерческих банков, 141 минибанк, 23 сберкассы, 52 спецкассы, 20 филиалов страховых компаний, 1 кредитный союз и 1 лизинговая компания.</h3>
    </div>
    <div class="col-sm-12 blog-content">
      <a href="http://visitkhorezm.uz/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/khorezm5.jpg")" style="height : 400px ; width : 100%" alt="" /></a>
      <h2><a href="http://visitkhorezm.uz/">Национальные праздники</a></h2>
      <h3>
        Узбекский народ любит и умеет праздновать. Свадьба, юбилей, национальные праздники - любое праздничное мероприятие в Узбекистане проходит весело, гостеприимно при большом количестве гостей с обилием наивкуснейших национальных блюд под звуки национальных инструментов и по традиции с зажигательными танцами.<br>Асалом, Навруз или с Новым годом!

          Слово "Навруз" переводится, как "новый день". Праздник отмечается 21 марта. Именно в это весеннее время года природа окончательно просыпается после зимней спячки, своим обновлением символизируя начало нового года. Навруз - древний праздник, по утверждению историков праздновали его еще 3000 лет назад.  </h3>
    </div>
    <div class="col-sm-12 blog-content">
      <a href="http://visitkhorezm.uz/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/khorezm2.jpg")" style="height : 400px ; width : 100%" alt="" /></a>
      <h2><a href="http://visitkhorezm.uz/">Культура Хорезма</a></h2>
      <h3>


        Формировавшаяся! на протяжении многих тысячелетий в поймах полноводной Амударьи культура Хорезма по праву принадлежит к величайшим достижениям мировой цивилизации и отражает многообразие духовного богатства Узбекистана. В VIII в. в связи с завоеванием Средней Азии арабами в государствах Междуречья распространяется исламская религия. В это время происходят радикальные изменения в культуре и искусстве Хорезма. Под воздействием новой идеологии меняется облик и структура городов, строятся новые религиозно-культовые и административные сооружения - мечети, медресе,мавзолеи, караван-сараи. Начиная с IX - X вв. на первый план выдвигается архитектура и ремесла.

        В то же время исчезают монументальные виды изобразительного искусства - настенная живопись, скульптура, уходят из сакрального обихода предметы, связанные с прежними культами и религиозными представлениями - оссуарии.

      </h3>
    </div>
    <div class="col-sm-12 blog-content">
      <a href="http://visitkhorezm.uz/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/qizla2.jpg")" style="height : 400px ; width : 100%" alt="" /></a>


    </div>
    <div class="col-sm-12 blog-content">
      <a href="http://visitkhorezm.uz/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/khorezm1.JPG")" style="height : 400px ; width : 100%" alt="" /></a>
    </div>
    <br>
    <div class="col-sm-12 blog-content">
      <a href="http://visitkhorezm.uz/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/khorezm4.JPG")" style="height : 400px ; width : 100%" alt="" /></a>
    </div>
    <br><br><br>
    <div class="col-sm-12 blog-content">
      <h2><a href="http://urgench-munis.uz/index.php">Ургенчский филиал ТУИТ</a></h2>
      <a href="http://urgench-munis.uz/index.php"><img class="img-responsive img-blog" src="@routes.Assets.at("images/tatu.jpeg")" style="height : 400px ; width : 100%" alt="" /></a>

    </div>

  </div>
  <br> <br>
  @footer()
}