@(regions: List[Region])

@main("Uzbekistan") {

  @navbar()

  <div class="container main-content">

    <h1 class="text-center">World's most beautiful cities.</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Population</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      @for(region <- regions) {
        <tr>
          <td>@region.name</td>
          <td>@region.population</td>
          <td>@region.description</td>
        </tr>
      }
      </tbody>
    </table>
  </div>

}
<br><br><br>
@footer()