@(cities: List[CityForDisplay])

@main("Uzbekistan") {

  @navbar()

  <div class="container main-content">

    <h1 class="text-center">World's most beautiful cities.</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Город</th>
          <th>Описания</th>
          <th>Область</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
      @for(cityObj <- cities) {
        <tr>
          <td>@cityObj.city.name</td>
          <td>@cityObj.city.description</td>
          <td>@cityObj.countryName</td>
          <td>
            <a href="@routes.Cities.showEditForm(cityObj.city.id.get)">
              <button class="btn btn-warning">Edit</button>
            </a>
            <a href="@routes.Cities.remove(cityObj.city.id.get)">
              <button class="btn btn-danger">Delete</button>
            </a>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>

}
