@(regions: List[Region])

@main("Uzbekistan") {

  @navbar()
  <br><br> <br><br> <br><br> <br><br>
  <div class="container main-content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Область:</th>
          <th>Численность населения:</th>
          <th>Административный центр:</th>
        </tr>
      </thead>
      <tbody>
      @for(region <- regions) {
        <tr>
          <td>@region.name</td>
          <td>@region.population</td>
          <td>@region.center</td>
        </tr>
      }
      </tbody>
    </table>
  </div>

}
<br><br><br>
@footer()