@main("Uzbekistan") {
    @navbar()
    <br> <br> <br>
    <div class="container-fluid">
        <br><br>
        <div class="row">

            <div class="col-md-4">
                <img src="@routes.Assets.at("images/tatu.jpeg")" width="100%">
            </div>

            <div class="col-md-8">
                <b>Атаджанов Мунис Алишерович<br>Учится в Ургенчском филиале Ташкентского университета информационных технологии.<br>
                    Факультет. Программного инжиниринга<br>
                    Группа. 914-13 ( 2-курс (2013-2017))<br>
                    В социальных сетях:<br>
                    <a href="https://www.facebook.com/profile.php?id=100008005591394" >facebook.com</a><br>
                    <a href="https://plus.google.com/u/0/103979590733101992978/posts" >plus.google.com</a><br>
                    <a href="http://ok.ru/munisbek.atadzhanov">odnoklassniki.ru</a><br>
                </b>
            </div>
        </div>

    </div>
    <br> <br> <br> <br> <br> <br>
    @footer()

}