@main("Uzbekistan") {
  @navbar()
  <br><br>
  <div class="container">
    <div class="jumbotron">
      <h1>Навоийская область</h1>
      <p class="lead">
        Область расположена в центральной части республики. Ранее была частью Голодностепской области, входившей в состав РСФСР, затем (с 1920 года) — часть современной Навоийской области была в составе Казахской ССР, а в 1956 году часть будущей области, тогда принадлежащей Казахской ССР, была передана Узбекской ССР с целью развития хлопководства в одной республике </p>
      <a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%B0%D0%B2%D0%BE%D0%B8%D0%B9%D1%81%D0%BA%D0%B0%D1%8F_%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C"><button type="button" class="btn btn-danger">Navoiy (wikipedia)</button></a>
    </div>
    @carousel()
    <br><br>
    <div class="col-sm-12 blog-content">
      <a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%B0%D0%B2%D0%BE%D0%B8%D0%B9%D1%81%D0%BA%D0%B0%D1%8F_%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C"><img class="img-responsive img-blog" src="@routes.Assets.at("images/navoiy1.png")" style="height : 300px ; width : 100%" alt="" /></a>
      <h2><a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%B0%D0%B2%D0%BE%D0%B8%D0%B9%D1%81%D0%BA%D0%B0%D1%8F_%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C">История</a></h2>
      <h3>20 апреля 1982 года Указом Президиума Верховного Совета Узбекской Советской Социалистической Республики № 2247-Х от 20 апреля 1982 года образована Навоийская область с административным центром в городе Навои из частей Бухарской и Самаркандской областей.
        9 сентября 1988 года Навоийская область была упразднена и вошла в состав Самаркандской области.
        09 сентября 1988 году был принят Указ Президиума Верховного Совета Узбекской ССР об объединении Навоийской и Самаркандской области.
        В мае 1989 года большая часть Навоийской области была передана в Бухарскую область.
        27 января 1992 году Постановлением Президиума Верховного Совета Республики Узбекистан от 27 января 1992 года « О восстановлении Навоийской области в составе Республики Узбекистан» была восстановлена (новообразованна) Навоийская область.</h3>

    </div>
    <div class="col-sm-12 blog-content">
      <a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%B0%D0%B2%D0%BE%D0%B8%D0%B9%D1%81%D0%BA%D0%B0%D1%8F_%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C"><img class="img-responsive img-blog" src="@routes.Assets.at("images/navoiy2.jpg")" style="height : 300px ; width : 100%" alt="" /></a>
      <h2><a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%B0%D0%B2%D0%BE%D0%B8%D0%B9%D1%81%D0%BA%D0%B0%D1%8F_%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C">Экономика</a></h2>
      <h3>В недрах области имеются месторождения золота, вольфрама, фосфоритов, кварцевого песка, цементного сырья, известняков. Большое значение имеет наличие золотоносных районов, на основе которых возникла золотодобывающая промышленность. Также область имеет большинство разрабатываемых месторождений урана в Узбекистане.В пустынях идет добыча урана, множество карьеров, добыча и разработка по добыче урана проходит умеренными темпами, т.к государство беспокоиться о жителях близлежащих карьерам местностям. По экспорту урана в 2013 году Узбекистан занял 2 место в мире

        Имеются несколько месторождений нефти и газа

        Ведущие отрасли промышленности — энергетика, горнорудная металлургия, химическая, хлопкоочистительная, пищевая, производство строительных материалов. Самыми крупными промышленными предприятия области являются Навоийский горно-металлургический комбинат в Мурунтау (построен в 1967 году)[5], Навои ГРЭС, «Навои-азот», цементный завод, акционерное общество «Электрохимия», «Нуратамармар».

        Для добычи золота из отвальной породы горно-металлургического комбината было создано совместное узбекско-американское предприятие «Зарафшан-Ньюмонт» (с 2006 года расформировано в цех выщелачивания завода ГМЗ-2). В области функционируют 60 государственных промышленных предприятий, 10 совместных, 728 малых, 30 ширкатных. Среди них малые предприятия «Иттифок», «Навоий», ЭДЭМ, совместные предприятия — «Агама», «Зериспарк</h3>
    </div>
  </div>
  <br> <br>
  @footer()
}