@main("Uzbekistan") {
    @navbar()
    <br><br>

        <div class="jumbotron">
            <h1>Кашкадарьинская область</h1>
            <p class="lead">
                Кашкадарьинская область была основана 20 января 1943 года указом Президиума Верховного Совета СССР. 25 января 1960 года область была упразднена и на её месте находился Каршинский район. Восстановлена 7 марта 1964 года.Кашкадарьинская область находится на южной части Узбекистана в бассейне реки Кашкадарьи на западном склоне Памир-Алайских гор.

                Площадь территории области 28 400 км². Климат континентальный, сухой, местами субтропический. Имеются существенные запасы топливных и газоконденсатных ресурсов[1]: Шуртан, Алан, Памук, Таваккал, Худжум и др. </p>
            <a href="http://www.qashqadaryo.uz/"><button type="button" class="btn btn-danger">www.qashqadaryo.uz</button></a>
        </div>
    <div class="container">
        @carousel()
        <br><br>
        <div class="col-sm-12 blog-content">
            <a href="http://www.qashqadaryo.uz/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/qarshi.png")" style="height : 300px ; width : 100%" alt="" /></a>
            <h2><a href="http://www.qashqadaryo.uz/">Население</a></h2>
            <h3>Население области составляет — 2 722 900 человек (2011).

                Крупные населённые пункты: Карши, Шахрисабз, Китаб, Касан, Мубарек, Яккабаг, Гузар, Чиракчи, Дехканабад, Касби, Нишан, Миришкор и Камаши.</h3>

        </div>
        <div class="col-sm-12 blog-content">
            <a href="http://www.qashqadaryo.uz/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/qarshi2.jpg")" style="height : 300px ; width : 100%" alt="" /></a>
            <h2><a href="http://www.qashqadaryo.uz/">Экономика</a></h2>
            <h3>Основные отрасли промышленности: топливная-энергетическая, стройматериалов, лёгкая, пищевая, мукомольно-крупяная. Область занимает первое место в стране по добыче углеводородного сырья (нефть, газ, конденсат) и переработке природного газа. Действуют 14 совместных предприятий с участием иностранных инвесторов. Основные отрасли сельского хозяйства: хлопководство, звероводство, садоводство и виноградарство, мясомолочное животноводство, овцеводство, шелководство. Крупнейшие промышленные предприятия — АК "Узгеобурнефтегаз" УДП «Мубарекнефтегаз», УДП «Шуртаннефтегаз»,УДП «Шуртанский ГХК», Мубарекский газоперерабатывающий завод, Дехканабадский завод калийных удобрений, Талимарджанская ГРЭС..</h3>
        </div>
    </div>
    <br> <br>
    @footer()
}