@main("Uzbekistan") {
    @navbar()
    <br> <br>

        <div class="jumbotron">

            <h1><font color="#5f9ea0"><i>Самарканд</i></font></h1>
            <p class="lead">
                Современное название города — Самарканд — восходит к Smʼrknδh (согд.) Город в античной литературе известен также как Согдиана (согд.) и Мараканда (греч.). Гератский ученый историк и географ Хафизи Абру (XV век) объяснял название города как Шамарканд — «селение Шамара». Современные этимологи, признавая во второй части названия канд — «селение, город», первую часть объясняют из asmara — «камень».  </p>
            <a href="http://www.samarkand.uz/"><button type="button" class="btn btn-danger">www.samarkand.uz</button></a>
        </div>
    <div class="container">


        <div class="col-sm-12 blog-content">
            <a href="http://www.samarkand.uz/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/samarqand1.jpg")" style="height : 400px ; width : 100%" alt="" /></a>
            <h2><a href="http://www.samarkand.uz/">История</a></h2>
            <h3>Самарканд — один из древнейших городов мира, основанный приблизительно в VIII веке до нашей эры. Он ровесник древнего Рима.

                В 2001 году Самарканд был включён ЮНЕСКО в список Всемирного наследия, как Город — Перекресток Культур.

                В античной истории Самарканд известен как столица древнейшего государства Согдиана, описанного ещё в VI в. до н. э. в священной книге зороастризма — Авесте.

                Впервые упоминается под именем Мараканда в сочинениях римских и греческих историков — биографов Александра Македонского, который завоевал Самарканд, бывший к этому времени хорошо развитым и укреплённым городом, в 329 до н. э.

                В IV—V веках Самарканд был под властью хионитов и кидаритов. В начале VI века был захвачен эфталитами.</h3>

        </div>
        <div class="col-sm-12 blog-content">
            <a href="http://www.samarkand.uz/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/samarqand2.JPG")" style="height : 400px ; width : 100%" alt="" /></a>
            <h2><a href="http://www.samarkand.uz/">Население</a></h2>
            <h3>Численность населения по состоянию на 1 января 2014 года составляет 509,0 тыс. жителей[4], на 2013 год — 504 423 человека: узбеки, таджики, русские, бухарские евреи, иранцы, армяне, азербайджанцы, татары, казахи.

                В 1897 году в Самарканде проживало 55 128 человек, распределение населения по родному языку было следующим: таджики — 36 845, русские, украинцы и белорусы — 8393, узбеки — 5506, евреи — 1169, поляки — 1072, персы — 866, немцы — 330, сарты — 287.

                В Самаркандском уезде в целом, куда входил и город Самарканд, в 1897 году проживало 342 197 человек, распределение населения по родному языку был следующим: узбеки — 200 672, таджики — 123 342, русские (включая великороссов, малороссов и белорусов) — 9 340, кашгарцы — 3421 человек.</h3>
        </div>
    </div>
    <br> <br>
    @carousel()
    <br><br>
    @footer()
}