@main("Uzbekistan") {
  @navbar()
  <br> <br>

    <div class="jumbotron">
      <h1>Сырдарьинская область</h1>
      <p class="lead">Сырдарьи́нская о́бласть (вилоя́т, узб. Sirdaryo viloyati, Сирдарё вилояти) — административная единица территориального деления Узбекистана с административным центром в городе Гулистан.

        Область расположена в центре Узбекистана на левой стороне реки Сырдарья. Граничит с Ташкентской и Джизакской областями Узбекистана. Область граничит с Республикой Казахстан на севере и с Республикой Таджикистан на юге.
      </p>
      <a href="http://sirdaryo.uz/ru/"><button type="button" class="btn btn-danger">www.sirdaryo.uz</button></a>
    </div>
  <div class="container">
    @carousel()
    <br><br>
    <div class="col-sm-12 blog-content">
      <a href="http://sirdaryo.uz/ru/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/sirdaryo1.jpg")" style="height : 400px ; width : 100%" alt="" /></a>
      <h2><a href="http://sirdaryo.uz/ru/">География</a></h2>
      <h3>Общая площадь — 5 100 км², климат типично континентальный и засушливый. Голодная степь занимает существенную часть области.

        Количество осадков колеблется от 130—360 мм в год на равнинах до 440—620 мм в предгорье. На юго-востоке области летом по нескольку дней дуют суховеи и пыльные бури, повреждающие посевы. Тёплый период составляет 247 дней, годовая сумма положительных температур — 5000—5900 °C.</h3>

    </div>
    <div class="col-sm-12 blog-content">
      <a href="http://sirdaryo.uz/ru/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/sirdaryo2.jpg")" style="height : 400px ; width : 100%" alt="" /></a>
      <h2><a href="http://sirdaryo.uz/ru/">Экономика</a></h2>
      <h3>Экономика области основана на сельском хозяйстве, в особенности на хлопке и пшенице. Имеются тысячи гектаров целины, которые исследовались для сельскохозяйственных целей. Эта территория имеет подходящую оросительную инфраструктуру. За несколько последних лет были построены насосные станции, и другие оросительные средства. Помимо хлопка и пшеницы, в области выращиваются животноводческие корма, овощи, дыни, тыквы, картофель, кукуруза, разнообразные фрукты и виноград. В области очень успешно развилось выведение крупного рогатого скота.

        Планируется улучшать хлопкообрабатывающий сектор промышленности, удвоить сельскохозяйственное производство, строить фабрики для производства спирта и водки, производить джем, томатный сок и кетчуп. Часть производства будет экспортироваться.</h3>
    </div>
  </div>
  <br> <br>
  @footer()
}