@main("Uzbekistan") {
  @navbar()
  <br> <br>
  <div class="container">
    <div class="jumbotron">
      <h1>Сурхандарьинская область</h1>
      <p class="lead">Сурхандарьи́нская о́бласть (вилоя́т, узб. Surxondaryo viloyati) — самая южная область (вилоят) Узбекистана. Граничит с Таджикистаном, Туркменией и Афганистаном. Образована 6 марта 1941 года Указом Президиума Верховного совета СССР.

        Административный центр — город Термез.
      </p>
      <a href="http://www.surxon.gov.uz/"><button type="button" class="btn btn-danger">www.surxon.gov.uz</button></a>
    </div>
    @carousel()
    <br><br>
    <div class="col-sm-12 blog-content">
      <a href="http://www.surxon.gov.uz/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/termiz.png")" style="height : 400px ; width : 100%" alt="" /></a>
      <h2><a href="http://www.surxon.gov.uz/">География</a></h2>
      <h3>Центральная и южная части области являются равнинными. На севере расположен Гиссарский хребет, на западе и северо-западе расположены его отроги — горы Байсунтау (4425 м) и Кугитангтау (3139 м), на Востоке располагается хребет Бабатаг (до 2290 м), на юге — долина реки Амударьи.

        Климат — от сухого пустынного на юге, до субтропического на севере (г. Узун). Средняя температура января составляет +3 °С, июля +30 °C. На равнинах количество осадков колеблется от 130 мм до 360 мм в год, в предгорных районах — от 440 мм до 620 мм.

        Имеются запасы нефти, газа, угля, соли, гипса и других полезных ископаемых.</h3>

    </div>
    <div class="col-sm-12 blog-content">
      <a href="http://www.surxon.gov.uz/"><img class="img-responsive img-blog" src="@routes.Assets.at("images/termiz2.jpg")" style="height : 400px ; width : 100%" alt="" /></a>
      <h2><a href="http://www.surxon.gov.uz/">Экономика</a></h2>
      <h3>Основу экономики области составляет агропромышленный комплекс. Выращиваются тонковолокнистые сорта хлопчатника.

        Действуют 26 крупных промышленных предприятий. Ведущими отраслями промышленности Сурхандарьинской области являются лёгкая и пищевая промышленность. Значительное место занимает горнодобывающая промышленность: около Хаудага, Учкызыла, Ляльмикара и Кокайды действуют нефтяные и газовые промыслы.</h3>
    </div>
  </div>
  <br> <br>
  @footer()
}