@main("Uzbekistan") {
  @navbar()
  <br> <br>

    <div class="jumbotron">
      <h1>Ташкент</h1>
      <p class="lead">Ташке́нт (узб. Toshkent, Тошкент) — столица Республики Узбекистан, город Республиканского подчинения, административный центр Ташкентской области, в состав которой не входит. Крупнейший по численности населения город Узбекистана и Средней Азии, центр Ташкентской городской агломерации, важнейший политический, экономический, культурный и научный центр страны, а также авиационный, железнодорожный и автомобильный узел. Административно Ташкент разделён на 11 районов.

        Ташкент входит в пятёрку самых густонаселённых городов среди стран СНГ. Население превышает 2,3 миллиона человек.Впервые в истории телевидения передача по радио на расстояние изображения движущихся предметов с помощью только электронной схемы развертки изображения (без применения электро-механической развертки) была осуществлена 26 июля 1928 года в Ташкенте изобретателями Б. П. Грабовским и И. Ф. Белянским.

        Вещание радио в Ташкенте, как и во всём Узбекистане, началось во второй половине 1950-х гг., а телевидения — во второй половине 1960-х. Радио и телевидение в Ташкенте преимущественно государственные и находятся в ведении Национальной телерадиокомпании «Узбекистан» Вещание всех телеканалов ведётся на узбекском языке. Цифровые каналы вещают в стандарте DVB-T.
      </p>
      <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82"><button type="button" class="btn btn-danger">Tashkent (Wikipedia)</button></a>
    </div>
  <div class="container">
    @carousel()
    <br><br>
    <div class="col-sm-12 blog-content">
      <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82"><img class="img-responsive img-blog" src="@routes.Assets.at("images/tashkent1.jpg")" style="height : 400px ; width : 100%" alt="" /></a>
      <h2><a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82">Историяx</a></h2>
      <h3>В XIV—XV веках Ташкент входил в состав империи Тимура. В 1586 году казахи совершают удачный поход на Ташкент. Он находился под властью казахов. Около 1630 года Ташкент становится резиденцией ханов Казахского ханства[11]. В 1784 году Юнус Ходжа, правитель даха (района) Шейхантаур, объединил под своей властью весь город и создал независимое Ташкентское государство, которое к началу XIX века захватило обширные земли. Однако после смерти Юнусходжи страна была подчинена Кокандским ханством (в 1807—1808 годах)[12].

        При кокандском владычестве Ташкент был окружён рвом и глинобитной зубчатой стеной длиной около 20 км, с 12 воротами. Новая часть города была основана после взятия города русскими войсками в 1865 году; она отделялась от старого города каналом Анхор..</h3>

    </div>
    <div class="col-sm-12 blog-content">
      <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82"><img class="img-responsive img-blog" src="@routes.Assets.at("images/tashkent2.jpg")" style="height : 400px ; width : 100%" alt="" /></a>
      <h2><a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82">Население</a></h2>
      <h3>Численность населения города по состоянию на 1 января 2014 года составляет 2 352 900 жителей[2].

        Уже в 1983 году население Ташкента составляло 1902 тыс. чел, а площадь — 256 км², а в 1991 году постоянное число жителей столицы составляло 2136,6 тысячи человек. Город по численности жителей занимал четвёртое место в СССР (после Москвы, Ленинграда (Санкт-Петербурга) и Киева). Ныне Ташкент сохраняет статус четвёртого города по населению на постсоветском пространстве.

        Национальный состав по данным на 2008 год: 63,0 % — узбеки, 20,0 % — русские, 4,5 % — татары, 2,2 % — корейцы, 2,1 % — таджики, 1,2 % — уйгуры и 7,0 % — другие национальности</h3>
    </div>
  </div>
  <br> <br>
  @footer()
}