<!DOCTYPE HTML>

<html>
  <head>
    <title>Local Time</title>
  </head>
  <body>
    <div id="clock" class="digiclock fixed"></div>
    <div id="date" class="local_time fixed"></div>
    <script>
    function setTime()
    {
    window.setTimeout("timeRef()", 100);
    }

    function timeRef() {

    var date =  new Date();
    document.getElementById('clock').innerHTML =date.toLocaleTimeString();
document.getElementById('date' ).innerHTML=date.toLocaleDateString();
    setTime();

    }

    timeRef();

    </script>
  </body>

</html>